name: Send Email

on:
  workflow_dispatch:
    inputs:
      email_to:
        description: "Email recipient address"
        required: true
        type: string

jobs:
  send-email:
    runs-on: ubuntu-24.04-arm

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun i

      - name: Send email
        env:
          RESEND_API_KEY: ${{ secrets.RESEND_API_KEY }}
          EMAIL_TO: ${{ github.event.inputs.email_to }}
          EMAIL_FROM: ${{ vars.EMAIL_FROM }}
        run: bun src/scripts/send-email.ts
